app-minimal-shell-layout {
  display: grid;
  min-height: 100vh;
  place-content: start center;

  app-progress-bar {
    left: 0;
    position: absolute;
    right: 0;
  }
}

.app-minimal-shell__logo {
  display: block;
  margin: var(--spacing-lg) auto;
  max-width: 16em;
}

.app-page-section {
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}

.app-page-section-actions {
  display: grid;
  gap: var(--spacing-sm);

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  a {
    line-height: 2em;
    text-align: center;
  }
}
