@if (alerts?.length) {
  <ul>
    @for (alert of alerts; track $index) {
      <li 
        [class.app-form-alerts__alert--error]="alert.type === alertType.Error"
        [class.app-form-alerts__alert--success]="alert.type === alertType.Success"
        [class.app-form-alerts__alert--warning]="alert.type === alertType.Warning"
        [title]="alert.message | translate : alert.messageParams">
        
        @switch (alert.type) {
          @case (alertType.Success) { <fa-icon [icon]="['fas', 'check']" /> }
          @case (alertType.Warning) { <fa-icon [icon]="['fas', 'exclamation-triangle']" /> }
          @case (alertType.Error) { <fa-icon [icon]="['fas', 'times-circle']" /> }
        }

        <div>{{ alert.message | translate : alert.messageParams }}</div>
        
        <button (click)="deleteAlert($index)" [attr.aria-label]="'GENERAL.BUTTONS.CLOSE' | translate" type="button">
          x
        </button>
      </li>
    }
  </ul>
}