{
  "extends": [
    "@3angletech/eslint-config/style"
  ],
  "rules": {
    "selector-pseudo-element-no-unknown": [
      true, {
        "ignorePseudoElements": ["ng-deep"]
      }
    ],
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": [
          "router-outlet",
          "/^app-/"
        ]
      }
    ],
    "custom-property-empty-line-before": null,
    "function-no-unknown": null,
    "import-notation": null
  }
}
