.page-layout {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "nav top-bar"
    "nav main-content";
  grid-template-columns: 130px auto;
  grid-template-rows: auto 1fr;
}

.navigation-menu {
  grid-area: nav;
  background-color: #6e28d9;
  height: 100vh;
}

.page-top-bar {
  grid-area: top-bar;
  background-color: #9446ff;
  height: 50px;
}

.page-main-content {
  grid-area: main-content;
  background-color: #607d8b;
  overflow-y: scroll;
}
