app-default-shell {
  display: grid;
  grid-template-rows: min-content 1fr;
  min-height: 100vh;
  place-content: start stretch;

  app-progress-bar {
    left: 0;
    position: absolute;
    right: 0;
  }
}

.app-default-shell__content {
  justify-self: center;
  padding: var(--spacing-large);
}
