@import 'styles/theme';

:host {
  color: app-get-color($app-status-colors, 'danger');
  display: block;
  font-size: 0.75rem;
  line-height: 1.25rem;

  ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
