<ng-container *ngIf="!forgotPasswordFormSubmitted else mailSent">
  <h1>{{ 'ACCOUNT_FEATURE.FORGOT_PASSWORD.PAGE_TITLE' | translate }}</h1>

  <app-form-alerts [alerts]="forgotPasswordFormAlerts">
  </app-form-alerts>

  <form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm" class="app-page-section app-form--simple">
    <label class="app-form__element--block">
      <span class="app-form__element-label">
        {{ 'ACCOUNT_FEATURE.GENERAL.EMAIL' | translate }}
      </span>
        <span class="app-form__element-input">
        <input class="app-form__text-input" formControlName="email" name="email" type="text">
        <app-form-control-errors formControlPath="email" namespace="ACCOUNT_FEATURE.FORGOT_PASSWORD.ERROR.EMAIL">
        </app-form-control-errors>
      </span>
    </label>

    <div class="app-page-section-actions">
      <button [disabled]="forgotPasswordForm.disabled || forgotPasswordForm.invalid"
              class="app-button" name="submit" type="submit">
        <span class="text">{{ 'ACCOUNT_FEATURE.FORGOT_PASSWORD.SUBMIT' | translate }}</span>
      </button>
    </div>
  </form>
</ng-container>

<ng-template #mailSent>
  <section class="app-page-section">
    <h1>{{ 'ACCOUNT_FEATURE.FORGOT_PASSWORD.EMAIL_SENT_TITLE' | translate }}</h1>
    <p>{{ 'ACCOUNT_FEATURE.FORGOT_PASSWORD.EMAIL_SENT_INFO' | translate}}</p>
  </section>
</ng-template>
