<app-page-top-bar>
  <span class="top-bar__title">Styling Guide</span>
</app-page-top-bar>

<div class="card">
  <div class="card__title">Demo</div>

  <div class="card__content">
    <div class="typo-title">Text color - CSS Variables</div>
    <table class="demo-table table--text">
        <!-- Text Color Classes -->
        <!-- Dark Enhanced Text Color -->
        <tr>
          <td>--color-text-dark-enhanced</td>
          <td><p class="text-dark-enhanced">This is dark enhanced text</p></td>
          <td>Use for important or primary dark text (87% opacity).</td>
        </tr>

        <!-- Dark Text Color -->
        <tr>
          <td>--color-text-dark</td>
          <td><p class="text-dark">This is dark text</p></td>
          <td>Use for regular dark text (60% opacity).</td>
        </tr>

        <!-- Dark Disabled Text Color -->
        <tr>
          <td>--color-text-dark-disabled</td>
          <td><p class="text-dark-disabled">This is dark disabled text</p></td>
          <td>Use for disabled or low-importance dark text (30% opacity).</td>
        </tr>

        <!-- Light Enhanced Text Color -->
        <tr>
          <td>--color-text-light-enhanced</td>
          <td><p class="text-light-enhanced">This is light enhanced text</p></td>
          <td>Use for important or primary light text (87% opacity).</td>
        </tr>

        <!-- Light Text Color -->
        <tr>
          <td>--color-text-light</td>
          <td><p class="text-light">This is light text</p></td>
          <td>Use for regular light text (60% opacity).</td>
        </tr>

        <!-- Light Disabled Text Color -->
        <tr>
          <td>--color-text-light-disabled</td>
          <td><p class="text-light-disabled">This is light disabled text</p></td>
          <td>Use for disabled or low-importance light text (30% opacity).</td>
        </tr>
    </table>

    <div class="typo-title">Spacing - CSS Variables</div>
    <table class="demo-table table--spacing">
      <tbody>
        <!-- Large Spacing -->
        <tr>
          <td>--spacing-lg</td>
          <td><div class="spacing-lg"></div></td>
          <td>Spacing Large</td>
        </tr>

        <!-- Regular Spacing -->
        <tr>
          <td>--spacing</td>
          <td><div class="spacing"></div></td>
          <td>Spacing Regular</td>
        </tr>

        <!-- Small Spacing -->
        <tr>
          <td>--spacing-sm</td>
          <td><div class="spacing-sm"></div></td>
          <td>Spacing Small</td>
        </tr>
      </tbody>
    </table>


    <div class="typo-title">Typography - CSS Variables and Placeholders</div>
    <table class="demo-table table--typography">
      <tbody>
    <!-- Title Large -->
    <tr>
      <td>
        <div>
          --typo-scale-title-large
        </div>
        <div>
          %typo-title-large
        </div>
      </td>
      <td><h1 class="typo-title-large">This is Title Large</h1></td>
      <td>Use for large page titles, hero sections, or main headings.</td>
    </tr>

    <!-- Title -->
    <tr>
      <td>
        <div>
          --typo-scale-title
        </div>
        <div>
          %typo-title
        </div>
      </td>
      <td><h2 class="typo-title">This is Title</h2></td>
      <td>Use for regular section titles or important headings.</td>
    </tr>

    <!-- Subtitle -->
    <tr>
      <td>
        <div>
          --typo-scale-subtitle
        </div>
        <div>
          %typo-subtitle
        </div>
      </td>
      <td><h3 class="typo-subtitle">This is Subtitle</h3></td>
      <td>Use for subtitles or supporting headings below titles.</td>
    </tr>

    <!-- Body -->
    <tr>
      <td>
        <div>
          --typo-scale-body
        </div>
        <div>
          %typo-body
        </div>
      </td>
      <td><p class="typo-body">This is standard body text</p></td>
      <td>Use for standard paragraphs or general content.</td>
    </tr>

    <!-- Body Strong -->
    <tr>
      <td>
        <div>
          --typo-scale-body-strong
        </div>
        <div>
          %typo-body-strong
        </div>
      </td>
      <td><p class="typo-body-strong">This is Strong Body text</p></td>
      <td>Use for emphasized body text or important information.</td>
    </tr>

    <!-- Body Small -->
    <tr>
      <td>
        <div>
          --typo-scale-body-small
        </div>
        <div>
          %typo-body-small
        </div>
      </td>
      <td><p class="typo-body-small">This is Small Body text</p></td>
      <td>Use for smaller body text or secondary information, such as footnotes or disclaimers.</td>
    </tr>

    <!-- Button Text -->
    <tr>
      <td>
        <div>
          --typo-scale-button
        </div>
        <div>
          %typo-button
        </div>
      </td>
      <td><button class="typo-button">Button</button></td>
      <td>Use for text inside buttons call-to-action elements.</td>
    </tr>

    <!-- Caption -->
    <tr>
      <td>
        <div>
          --typo-scale-caption
        </div>
        <div>
          %typo-caption
        </div>
      </td>
      <td><p class="typo-caption">This is Caption text, used for image descriptions or annotations.</p></td>
      <td>Use for captions or small text below images or figures.</td>
    </tr>

    <!-- Overline -->
    <tr>
      <td>
        <div>
          --typo-scale-overline
        </div>
        <div>
          %typo-overline
        </div>
      </td>
      <td><p class="typo-overline">OVERLINE TEXT</p></td>
      <td>Use for small uppercase text, often above headers or labels.</td>
    </tr>

      </tbody>
    </table>
  </div>
</div>

