@import "theme";

nav {
  display: flex;
  flex-direction: column;
  // background-color: app-get-color($app-text-colors, lighter);
  // color: app-get-contrast($app-text-colors, lighter);
}

.app-navigation-menu__item {
  display: inline-block;
  margin-left: var(--spacing-small);
  margin-right: var(--spacing-small);
}
