<nav *ngIf="currentUser" class="app-navigation-menu">
  <button *ngIf="!currentUser" class="app-button app-navigation-menu__item" type="button" routerLink="/account">
    {{ 'DEFAULT_SHELL.NAVIGATION_MENU.ACCOUNT' | translate }}
  </button>
  <button *ngIf="currentUser" class="app-button app-navigation-menu__item" type="button" routerLink="/profile">
    {{ 'DEFAULT_SHELL.NAVIGATION_MENU.PROFILE' | translate }}
  </button>
  <span class="spacer"></span>

  <div *ngIf="currentUser" class="app-navigation-menu__item">
    {{currentUser.fullName}}
  </div>
  <button *ngIf="!currentUser" class="app-button app-navigation-menu__item" type="button" routerLink="/account/login">
    {{ 'DEFAULT_SHELL.NAVIGATION_MENU.LOGIN' | translate }}
  </button>
  <button *ngIf="currentUser" class="app-button app-navigation-menu__item" type="button" routerLink="/account/logout">
    {{ 'DEFAULT_SHELL.NAVIGATION_MENU.LOGOUT' | translate }}
  </button>
</nav>
