:root {
  --form-single-column-width: 20rem;

  // Spacing variables.
  --spacing-lg: 1.5rem;
  --spacing: 0.75rem;
  --spacing-sm: 0.375rem;

  // Text color variables.
  --color-text-dark-enhanced:  rgb(0, 0, 0, 0.87);
  --color-text-dark:  rgb(0, 0, 0, 0.6);
  --color-text-dark-disabled:  rgb(0, 0, 0, 0.3);

  --color-text-light-enhanced:  rgb(255, 255, 255, 0.87);
  --color-text-light:  rgb(255, 255, 255, 0.6);
  --color-text-light-disabled:  rgb(255, 255, 255, 0.3);

  // Background and Border color variables.
  --background-color: #ffffff;
  --background-color-shade-1: #d3d3d3;
  --background-color-shade-2: #a9a9a9;
  --background-border-color: #a9a9a9;

  // Border radius variables.
  --border-radius-lg: 16px;
  --border-radius-md: 12px;
  --border-radius: 8px;
  --border-radius-sm: 4px;
  --border-radius-none: 0;
}
