:root {
  --font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", system-ui, sans-serif;
  --form-single-column-width: 20rem;

  // Spacing variables.
  --spacing-large: 2rem;
  --spacing-normal: 1rem;
  --spacing-medium: 0.75rem;
  --spacing-small: 0.5rem;
}
