// This is the main file for global styles, please use it only for importing other files.
// When writing styles you should follow some best practices.
//
// @see http://nicolasgallagher.com/about-html-semantics-front-end-architecture/
// @see http://getbem.com/introduction/

@import 'global-variables';
@import 'styles/typography';
@import 'html-tags';
@import 'styles/theme';
@import 'page';
@import 'form';
@import 'button';
