// This is the main file for global styles, please use it only for importing other files.
// When writing styles you should follow some best practices.
//
// @see http://nicolasgallagher.com/about-html-semantics-front-end-architecture/
// @see http://getbem.com/introduction/

@use 'global-variables' as *;
@use 'styles/typography' as *;
@use 'html-tags' as *;
@use 'styles/theme' as *;
@use 'page' as *;
@use 'form' as *;
@use 'button' as *;
