@import "src/styles/typography";

:host {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--background-border-color);
  height: 50px;
  flex-shrink: 0;

  ::ng-deep .top-bar__title {
    @extend %typo-title-large;

    padding-left: var(--spacing-lg);
    color: var(--color-text-dark-enhanced);
  }
}
