<h1>{{ 'ACCOUNT_FEATURE.RESET_PASSWORD.TITLE' | translate }}</h1>

<app-form-alerts [alerts]="resetPasswordFormAlerts"></app-form-alerts>

<form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm" class="app-form--col-1">
  <label class="app-form__element--block">
    <span class="app-form__element-label">
      {{ 'ACCOUNT_FEATURE.GENERAL.NEW_PASSWORD' | translate }}
    </span>
    <span class="app-form__element-input">
      <input class="app-form__text-input" formControlName="newPassword" name="newPassword" type="password">
      <app-form-control-errors formControlPath="newPassword" namespace="ACCOUNT_FEATURE.RESET_PASSWORD.ERROR.NEW_PASSWORD"></app-form-control-errors>
    </span>
  </label>

  <label class="app-form__element--block">
    <span class="app-form__element-label">
      {{ 'ACCOUNT_FEATURE.GENERAL.CONFIRM_PASSWORD' | translate }}
    </span>
    <span class="app-form__element-input">
      <input class="app-form__text-input" formControlName="confirmPassword" name="confirmPassword" type="password">
      <app-form-control-errors formControlPath="confirmPassword" namespace="ACCOUNT_FEATURE.RESET_PASSWORD.ERROR.CONFIRM_PASSWORD"></app-form-control-errors>
    </span>
  </label>

  <button [disabled]="resetPasswordForm.disabled || resetPasswordForm.invalid" class="app-button" type="submit">
    <span class="text">{{ 'ACCOUNT_FEATURE.RESET_PASSWORD.SUBMIT' | translate }}</span>
  </button>
</form>
