.shell-layout {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'nav main-content';
  grid-template-rows: auto 1fr;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-columns: 320px auto;
}

.navigation-menu {
  grid-area: nav;
  height: 100vh;
}

.shell-main-content {
  // display: flex;
  // flex-direction: column;
  // height: 100vh;
  grid-area: main-content;
  background-color: var(--background-color-shade-1);
  overflow-y: hidden;
}
