<nav>
  <div class="navigation-header">
    <img src="assets/logo.svg" alt="logo">
  </div>
  <div class="navigation-menu__section">
     <div class="navigation-menu-item">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
        <a href="#">Home</a>
     </div>
  </div>

  <div class="navigation-menu__section navigation-menu__section--expanded">
     <div class="navigation-menu-item">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">assessment</i>
        <a href="#">Reports</a>
     </div>
     <div class="navigation-menu__sub-section">
        <div class="navigation-menu-item"><a href="#">Sales</a></div>
        <div class="navigation-menu-item"><a href="#">Expenses</a></div>
        <div class="navigation-menu-item"><a href="#">Performance</a></div>
     </div>
  </div>

  <div class="navigation-menu__section">
     <div class="navigation-menu-item">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">person</i>
        <a href="#">Profile</a>
     </div>
  </div>

  <div class="navigation-menu__section">
     <div class="navigation-menu-item">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings</i>
        <a href="#">Settings</a>
     </div>
  </div>

  <div class="navigation-menu__section">
     <div class="navigation-menu-item">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">construction</i>
        <a href="#">Sandbox</a>
     </div>
     <div class="navigation-menu__sub-section">
        <div class="navigation-menu-item"><a href="#">Typography</a></div>
        <div class="navigation-menu-item"><a href="#">Dialogs</a></div>
     </div>
  </div>
</nav>
