<nav>
  <div class="navigation-header">
    <img src="assets/logo.svg" alt="logo">
  </div>

  @for (section of sections; track section.label) {
    <div class="navigation-menu__section"
         [routerLinkActive]="'navigation-menu__section--active'"
         #rla="routerLinkActive">
      
      <div class="navigation-menu-item"
           [routerLinkActive]="'navigation-menu-item--active'">
        
        <fa-icon [icon]="faQuestion" aria-hidden="true" />
        <a [routerLink]="section.route">{{ section.label }}</a>
      </div>

      @if (section.hasChildren && rla.isActive) {
        <div class="navigation-menu__sub-section">
          @for (subSection of section.children; track subSection.label) {
            <div class="navigation-menu-item"
                 [routerLinkActive]="'navigation-menu-item--active'">
              <a [routerLink]="subSection.route">{{ subSection.label }}</a>
            </div>
          }
        </div>
      }
    </div>
  }
</nav>