<nav>
  <div class="navigation-header">
    <img src="assets/logo.svg" alt="logo">
  </div>

  <!-- Section -->
   @for (section of sections; track section.label) {
    <div class="navigation-menu__section"
        [ngClass]="{'navigation-menu__section--active': isActive(section)}"
    >
      <div class="navigation-menu-item"
        [ngClass]="{'navigation-menu-item--active': isActive(section)}">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">{{ section.icon }}</i>
        <a [routerLink]="section.route">{{ section.label }}</a>
      </div>

      <!-- Subsection -->
      @if (section.hasChildren && isActive(section)) {
        <div class="navigation-menu__sub-section">
          @for (subSection of section.children; track subSection.label) {
            <div class="navigation-menu-item"
              [ngClass]="{'navigation-menu-item--active': isActive(subSection)}"
            >
              <a [routerLink]="subSection.route">{{ subSection.label }}</a>
            </div>
          }
        </div>
      }
    </div>
  }
</nav>
